@media (min-width: 1024px) {
    /*Header*/

    #web-icon {
        position: absolute;
        top: 0.3rem;
        left: 1rem;
        width: 70px;
}

    .web-title, h1 {
        font-size: 30px;
        padding: 20px 0 10px 0;
    }

    .web-title {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 15px;
    }

    .navigation ul li {
        padding: 10px;
    }

    /*Main*/

    h2 {
        font-size: 20px;
        width: 97%;
    }

    /*directory.html*/

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid .card p {
        font-size: 20px;
    }

    .grid .card a {
        font-size: 20px;
    }

    .list .card {
        grid-template-columns: 1fr 2fr 1fr 2fr;
        padding: 15px;
    }

    .list .card a {
        display: block;
    }

    .list .card p {
        font-size: 20px;
        padding-left: 10px;
    }

    /*index.html*/

    .cta {
        font-size: 35px;
        bottom: 4rem;
        right: 2rem;
    }

    .home {
        left: 40%;
        width: 20%;
    }

    .box {
        width: 97%;
    }
    
    .container {
        width: 97%;
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 20px;
    }

    #spotlights {
    display: flex;
    justify-content:space-around ;
    align-items: end;
    }

    #events {
        grid-column: 1/2;
        width: 100%;
    }

    #weather {
        grid-column: 2/3;
        width: 100%;
    }

    #members {
        grid-column: 1/3;
        width: 100%;
    }

    /*join.html*/

    .join-content {
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5%;
    }

    .join-form {
    width: 100%;
    }   

    .membership {
        width: 100%;
    }

    /*thankyou.html*/
    #formData {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 97%;
    }

    /*discover.html*/

    .places {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
}