@media (min-width: 1200px) {
    /*Header*/

    #web-icon {
        position: absolute;
        top: 0.3rem;
        left: 1rem;
        width: 60px;
}

    .web-title, h1 {
        font-size: 35px;
        padding: 10px;
    }

    .web-title {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 15px;
    }

    .navigation ul li {
        padding: 10px;
    }
}