@media (min-width: 1200px) {
    /*Header*/

    #web-icon {
        position: absolute;
        top: 0.3rem;
        left: 1rem;
        width: 70px;
}

    .web-title, h1 {
        font-size: 30px;
        padding: 20px 0 10px 0;
    }

    .web-title {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 15px;
    }

    .navigation ul li {
        padding: 10px;
    }

    /*Main*/

    h2 {
        font-size: 20px;
        width: 97%;
    }

    /*directory.html*/

    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .grid .card p {
        font-size: 20px;
    }

    .grid .card a {
        font-size: 20px;
    }

    .list .card {
        grid-template-columns: 1fr 2fr 1fr 2fr;
        padding: 15px;
    }

    .list .card a {
        display: block;
    }

    .list .card p {
        font-size: 20px;
        padding-left: 10px;
    }

    /*index.html*/

    .cta {
        font-size: 35px;
        bottom: 4rem;
        right: 2rem;
    }

    .home {
        left: 40%;
        width: 20%;
    }

    .box p {
        width: 97%;
    }
}