@media only screen and (min-width: 600px){

    /*Header*/
    
    #web-icon {
    top: 0.2rem;
    left: 0.5rem;
    width: 60px;
    }

    .web-title {
        justify-content: center;
        padding: 15px;
    }

    .hamburger {
        top: 0.2rem;
        right: 0.5rem;
    }

    /*Main*/

    /*index.html*/

    .cta {
        font-size: 25px;
        bottom: 3rem;
        right: 1rem;
    }

    .home {
        left: 38.5%;
        width: 25%;
    }
}