@media only screen and (min-width: 640px){

    /*Header*/
    
    #web-icon {
    top: 0.2rem;
    left: 0.5rem;
    width: 60px;
    }

    .web-title {
        justify-content: center;
        padding: 15px;
    }

    .hamburger {
        top: 0.2rem;
        right: 0.5rem;
    }

    /*Main*/

    /*index.html*/

    .cta {
        font-size: 25px;
        bottom: 3rem;
        right: 1rem;
    }

    .home {
        left: 38.5%;
        width: 25%;
    }

    /*discover.html*/

    .places .card {
    height: 280px;
    grid-template-areas:
    "name name"
    "image address"
    "image description"
    "image button";
    }

    .place-name {
    grid-area: name;
    }

    .places .card figure {
    grid-area: image;
    }

    .place-address {
    grid-area: address;
    }

    .place-description {
    grid-area: description;
    font-size: 40px;
    }

    .places .card .button {
    grid-area: button;
    }
}