:root {
    --primary-color: #053900;
    --secondary-color: #dfdbdd;
    --accent1-color: #424349;
    --accent2-color: #a4f09d;
    --header-font: 400 25px "Momo Trust Display", sans-serif;
    --text-font: 400 20px "Fira Sans", sans-serif;
    --light-font: #ffffff;
    --dark-font: #000000;
}

* {
    box-sizing: border-box;
    font: var(--text-font);
}

body {
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    background-color: var(--primary-color);
    display: block;
}

.logo {
    width: 45px;
    height: auto;
}

#web-icon {
    position: absolute;
    top: 0.3rem;
    left: 1rem;
}

.web-title {
    font: var(--header-font);
    color: var(--light-font);
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 10px;
    width: 80%;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
}

.hamburger::before {
    content: "\2630";
    color: var(--light-font);
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--light-font);
}

.navigation {
    background-color: var(--secondary-color);
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
}

.navigation ul li {
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: var(--dark-font);
    text-align: center;
    padding: 10px;
}

.navigation ul li:hover {
    background-color: var(--accent2-color);
}

.show a {
    display: block;
}

.current a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font: var(--header-font);
    text-align: center;
    margin: 10px;
}

h2 {
    font: var(--header-font);
    font-size: 20px;
    background-color: var(--accent1-color);
    color: var(--light-font);
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 80%;
}

.views {
    display: flex;
    justify-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.view img {
    width: 35px;
    height: auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;

    .card {
        background-color: var(--secondary-color);
        padding: 15px;
        margin-bottom: 15px;
        border: 3px solid var(--primary-color);
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .memberName {
            display: none;
        }

        img {
            margin-bottom: 10px;
        }
    }
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;

    .card {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        padding: 10px;
        gap: 10px;

        img {
            display: none;
        }

        a {
            display: none;
        }

        &:nth-child(odd) {
			background-color: var(--secondary-color);
		}
    }
}

/*Footer*/

    /*Logos are on the header section*/

footer {
    background-color: var(--primary-color);
    color: var(--light-font);
    text-align: center;
    justify-items: center;
}

.bold {
    font-weight: bold;
    color: var(--accent2-color);
}

.chamber-data {
    display: flex;
    text-align: center;
}

.socialmedia {
    gap: 20px;
    padding: 10px;
}

.dev-data {
    display: flex;
    text-align: center;
}