:root {
    --primary-color: #053900;
    --secondary-color: #dfdbdd;
    --accent1-color: #424349;
    --accent2-color: #a4f09d;
    --header-font: 400 30px "Momo Trust Display", sans-serif;
    --text-font: 400 20px "Fira Sans", sans-serif;
    --light-font: #ffffff;
    --dark-font: #000000;
}

* {
    box-sizing: border-box;
    font: var(--text-font);
}

body {
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    background-color: var(--primary-color);
    display: block;
    color: var(--light-font);
}

.logo {
    width: 45px;
    height: auto;
}

#web-icon {
    position: absolute;
    top: 0.7rem;
    left: 0.6rem;
    width: 60px;
}

.web-title {
    font: var(--header-font);
    color: var(--light-font);
    display: flex;
    justify-self: center;
    text-align: center;
    padding: 10px;
    width: 80%;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 0.7rem;
    right: 0.8rem;
}

.hamburger::before {
    content: "\2630";
    color: var(--light-font);
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--light-font);
}

.navigation {
    background-color: var(--secondary-color);
    display: none;
    color: var(--dark-font);
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 0;
}

.navigation ul li {
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: var(--dark-font);
    text-align: center;
    padding: 10px;
}

.navigation ul li:hover {
    background-color: var(--accent2-color);
}

.show a {
    display: block;
}

.current a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font: var(--header-font);
    text-align: center;
    margin: 10px;
}

h2 {
    font: var(--header-font);
    font-size: 20px;
    background-color: var(--accent1-color);
    color: var(--light-font);
    padding: 10px;
    text-align: center;
    width: 90%;
}

h3 {
    font: var(--header-font);
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

/*directory.html*/

.views {
    display: flex;
    justify-items: center;
    margin: 10px 0 20px 0;
    gap: 10px;
}

.view img {
    width: 35px;
    height: auto;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
}

.grid .card {
        background-color: var(--secondary-color);
        padding: 15px;
        margin-bottom: 15px;
        border: 3px solid var(--primary-color);
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }

.grid .card .memberName {
            display: none;
        }

.grid .card p {
    text-align: center;
    font-size: 16px;
}

.grid .card a {
    font-size: 16px;
}

.grid .card img {
    margin-bottom: 10px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.list .card {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 10px 0 10px 10px;
    gap: 10px;
}

.list .card img {
    display: none;
}

.list .card p {
    font-size: 16px;
}

.list .card a {
    display: none;
}

.list .card:nth-child(odd) {
    background-color: var(--secondary-color);
}

/*index.html*/

.hero {
    width: 100%;;
    position: relative;
}

#hero {
    width: 100%;
}

.home {
    position: absolute;
    top: 1rem;
    left: 35%;
    background-color: var(--secondary-color);
    width: 30%;
    padding: 10px;
    color: var(--dark-font);
}

.cta {
    background-color: var(--primary-color);
    color: var(--light-font);
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    bottom: 2rem;
    right: 0.7rem;
    font-size: 20px;
    cursor: pointer;
}

.cta:hover{
    background-color: var(--accent2-color);
    color: var(--dark-font);
    border-color: var(--primary-color);
    box-shadow: 10px 10px 10px var(--primary-color);
    transition: all 0.3s ease;
}   

.box {
    border: 1px solid var(--accent1-color);
    background-color: var(--accent2-color);
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.box h2 {
    width: 100%;
    margin-bottom: 10px;
}

.container {
    justify-items: center;
}

#description {
    text-transform: capitalize;
    margin: 10px 0 10px 0;
}

.spotlight  {
    margin-bottom: 15px;
}

/*Join.html*/

.join-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.join-form form {
        background-color: var(--accent2-color);
        margin-bottom: 1rem;
    }

.join-form h2 {
    width: 100%;
}

.join-form h3 {
    text-align: left;
}

.left {
    text-align: left;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.more-space {
    display: block;
    margin-top: 1rem;
}

input[type="radio"] {
    margin: 0;
    padding: 0;
}

/*Footer*/

    /*Logos are on the header section*/

footer {
    background-color: var(--primary-color);
    color: var(--light-font);
    text-align: center;
    justify-items: center;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
    color: var(--accent2-color);
}

.chamber-data {
    display: flex;
    text-align: center;
}

.socialmedia {
    gap: 20px;
    padding: 10px;
}

.dev-data {
    display: flex;
    text-align: center;
}