@media (min-width: 1024px) {

    /*Header*/

    #web-icon {
        position: absolute;
        top: 0.2rem;
        left: 1rem;
        width: 90px;
        height: 90px;
}

    .web-title {
        font-size: 30px;
        padding: 20px 0 10px 0;
    }

    .web-title {
        justify-content: center;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 15px;
    }

    .navigation ul li {
        padding: 10px;
    }

    /*Main*/

    h1 {
        width: 97%;
    }

    /*index.html*/

    .home-title {
        font-size: 2rem;
    }

    .cta {
        bottom: 3rem;
        right: 2rem;
        font-size: 35px;
    }
    
    .home-slogan {
        font-size: 30px;
        bottom: 3rem;
        left: 2rem;
        width: 48%;
        padding: 10px;
    }

    /*contact.html*/

    .contact {
        width: 100%;
        grid-template-columns: none;
        grid-template-areas:
        "location form"
        "contact-info form";
        justify-items: center;
    }

    .location {
        grid-area: location;
        width: 420px;
    }

    .map {
        margin-bottom: 30px;
    }

    .form {
        grid-area: form;
        width: 420px;
    }

    .contact-info {
        grid-area: contact-info;
        width: 420px;
    }

    .interline {
        line-height: 60px;
    }

    /*services.html*/

    .detailed-services {
        grid-template-columns: repeat(2, 1fr);
    }

    /*store.html*/

    .filters {
        width: 97%;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
        width: 97%;
    }

    .productImg {
        width: 250px;
    }
}