@media only screen and (min-width: 640px){

    /*Header*/
    
    #web-icon {
    top: 0.2rem;
    left: 0.5rem;
    width: 70px;
    height: 70px
    }

    .web-title {
        justify-content: center;
        padding: 15px;
    }

    .hamburger {
        top: 0.5rem;
        right: 0.5rem;
    }

    /*Main*/

    /*index.html*/

    .home-title {
        left: 30%;
        right: 30%;
        width: 40%;
    }

    .cta {
        bottom: 2rem;
        right: 2rem;
        font-size: 30px;
    }

    .home-slogan {
        font-size: 25px;
        bottom: 2rem;
        left: 2rem;
        width: 48%;
        padding: 10px;
    }

    .home {
        grid-template-areas: 
        "services discounts";
        grid-template-columns: 2fr 1fr;
    }

    .discounts {
        grid-area: discounts;
    }

    .services {
        grid-area: services;
    }
}