@media only screen and (min-width: 640px){

    /*Header*/
    
    #web-icon {
    top: 0.2rem;
    left: 0.5rem;
    width: 60px;
    }

    .web-title {
        justify-content: center;
        padding: 15px;
    }

    .hamburger {
        top: 0.2rem;
        right: 0.5rem;
    }
}