@media only screen and (min-width: 640px){

    /*Header*/
    
    #web-icon {
    top: 0.2rem;
    left: 0.5rem;
    width: 70px;
    height: 70px
    }

    .web-title {
        justify-content: center;
        padding: 15px;
    }

    .hamburger {
        top: 0.5rem;
        right: 0.5rem;
    }

    /*Main*/

    h1 {
        width: 95%;
    }

    /*index.html*/

    .home-title {
        left: 30%;
        right: 30%;
        width: 40%;
    }

    .cta {
        bottom: 2rem;
        right: 2rem;
        font-size: 30px;
    }

    .home-slogan {
        font-size: 25px;
        bottom: 2rem;
        left: 2rem;
        width: 48%;
        padding: 10px;
    }

    .home {
        grid-template-areas: 
        "services discounts";
        grid-template-columns: 2fr 1fr;
    }

    #lastVisited {
        width: 95%;
    }

    .discounts {
        grid-area: discounts;
    }

    .services {
        grid-area: services;
    }

    /*contact.html*/

    .contact {
    width: 95%;
    padding: 10px;
    grid-template-columns: none;
    grid-template-areas:
    "location contact-info"
    "form form";
    justify-items: center;
    }

    .map {
        width: 100%;
        margin-bottom: 25px;
    }

    .location {
        width: 250px;
        grid-area: location;
    }

    .form {
        grid-area: form;
        width: 500px;
    }

    .contact-info {
        width: 260px;
        grid-area: contact-info;
    }

    .interline {
        line-height: 32px;
    }

    /*thanks.html*/
    .thanks {
        width: 95%;
    }

    #formData {
        width: 95%;
    }

    /*store.html*/

    .filters {
        width: 95%;
    }

    .filters .button {
        font-size: 20px;
    }

    .products {
        grid-template-columns: 1fr 1fr;
    }

    .productImg {
        width: 200px;
    }
}