:root {
    --primary-color: #45154d;
    --secondary-color: #FDE85E;
    --accent1-color: #060049;
    --accent2-color: #EEABFF;
    --header-font: 400 30px "Bevan", serif;
    --text-font: 400 22px "Metrophobic", sans-serif;
    --light-font: #FDE85E;
    --dark-font: #45154d;
}

body {
    font: var(--text-font);
    color: var(--accent1-color);
}

/*Header*/

header {
    background-color: var(--primary-color);
    display: block;
    color: var(--light-font);
}

.logo {
    width: 45px;
    height: 45px;
}

#web-icon {
    position: absolute;
    top: 0.2rem;
    left: 0.6rem;
    width: 60px;
    height: 60px;
}

.web-title {
    font: var(--header-font);
    color: var(--light-font);
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 0.2rem;
    right: 0.8rem;
}

.hamburger::before {
    content: "\2630";
    color: var(--light-font);
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--light-font);
}

.navigation {
    background-color: var(--secondary-color);
    display: none;
    color: var(--dark-font);
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 0;
}

.navigation ul li {
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: var(--dark-font);
    text-align: center;
    padding: 10px;
}

.navigation ul li:hover {
    background-color: var(--accent2-color);
}

.show a {
    display: block;
}

.current a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, .heading3 {
    font: var(--header-font);
    text-align: center;
}

h1 {
    margin: 10px;
    color: var(--light-font);
    background-color: var(--accent1-color);
    border-radius: 15px;
    box-shadow: 0 5px 10px var(--secondary-color);
    padding: 10px;
    width: 90%;
}

h2 {
    color: var(--dark-font);
    font-size: 28px;
    margin-bottom: 15px;
}

h3, .heading3 {
    color: var(--dark-font);
    font-size: 22px;
    text-align: left;
    margin-bottom: 10px;
}

section, aside {
    margin: 10px 10px 10px;
    padding: 10px 10px 15px;
}

li {
    list-style-type: none;
}

section ul li:before {
    content: "\2605   ";
    color: var(--primary-color);
}

.box {
    background-color: var(--accent2-color);
    border: 2px solid var(--accent1-color);
}

.center-text {
    text-align: center;
}

.grid {
    display: grid;
}

.flex {
    display: flex;
}

.button {
    background-color: var(--primary-color);
    color: var(--light-font);
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: var(--secondary-color);
    color: var(--dark-font);
    border-color: var(--primary-color);
    box-shadow: 10px 10px 10px var(--primary-color);
    transition: all 0.3s ease;
}

/*index.html*/
.hero {
    width: 100%;;
    position: relative;
}

#hero {
    width: 100%;
}

.home-title {
    position: absolute;
    top: 1rem;
    left: 15%;
    right: 15%;
    width: 70%;
    background: none;
    box-shadow: none;
}

.cta {
    position: absolute;
    bottom: 1rem;
    right: 4%;
    font-size: 20px;
}

.cta:hover {
    background-color: var(--accent2-color);
    color: var(--dark-font);
}

.home-slogan {
    color: var(--light-font);
    font-size: 16px;
    position: absolute;
    bottom: 1rem;
    left: 4%;
    width: 48%;
    padding: 10px;
}

.home {
    padding: 10px;
    grid-template-columns: 1fr;
}

/*contact.html*/

.map {
    margin: 10px 10px 15px;
    border: 2px solid var(--accent1-color);
}

.location {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
}

.contact-info {
    width: 420px;   
}

.form {
    width: 420px;
    flex-direction: column;
    align-items: center;
}

.more-space {
    margin-bottom: 15px;
}

form {
    flex-direction: column;
}

input,textarea {
    height: 35px;
    font: var(--text-font);
    font-size: 20px;
    border-bottom: 5px solid var(--primary-color);
}

input:required, input:invalid, textarea:required, textarea:invalid{
    border-bottom: 5px solid var(--secondary-color);
}

 input:valid textarea:valid {
    border-bottom: 5px solid var(--primary-color);
}

#description {
    width: 250px;
    height: 120px;
    margin: 10px 0 15px;
}

input[type="radio"], input[type="checkbox"] {
    height: auto;
}

.contact {
    grid-template-columns: 1fr;
}

/*services.html*/


.detailed-services {
    width: 100%;
    justify-items: center;
}

.service {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px 30px;
    grid-template-columns: 2fr 1fr;
    width: 90%;
}

.detail {
    color: var(--dark-font);
    background: none;
    border: none;
    text-decoration: underline;
    border-radius: 60px;
}

.detail:hover {
    box-shadow: none;
    color: var(--accent1-color);
    transition: 0.5s ease all;
}

.myModal {
    width: 400px;
    border: none;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px 5px var(--primary-color)
}

.myModal p {
    margin: 10px 0;
    text-align: justify;
}

.closeModal:hover {
    box-shadow: none;
}

.myModal::backdrop {
    background: rgba(0,0,0,0.5);
}

.calcLabel {
    gap: 5px;
}

.calcField {
    width: 80px;
}

/*Footer*/

footer {
    background-color: var(--primary-color);
    color: var(--light-font);
    text-align: center;
    justify-items: center;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
}

.lila {
    color: var(--accent2-color);
}

.cyber-data {
    display: flex;
    text-align: center;
}

.socialmedia {
    gap: 20px;
    padding: 10px;
}

.dev-data {
    display: flex;
    text-align: center;
}