:root {
    --primary-color: #45154d;
    --secondary-color: #FDE85E;
    --accent1-color: #060049;
    --accent2-color: #EEABFF;
    --header-font: 400 30px "Bevan", serif;
    --text-font: 400 22px "Metrophobic", sans-serif;
    --light-font: #FDE85E;
    --dark-font: #060049;
}

body {
    font: var(--text-font);
    color: var(--dark-font);
}

/*Header*/

header {
    background-color: var(--primary-color);
    display: block;
    color: var(--light-font);
}

.logo {
    width: 45px;
    height: 45px;
}

#web-icon {
    position: absolute;
    top: 0.2rem;
    left: 0.6rem;
    width: 60px;
    height: 60px;
}

.web-title {
    font: var(--header-font);
    color: var(--light-font);
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 0.2rem;
    right: 0.8rem;
}

.hamburger::before {
    content: "\2630";
    color: var(--light-font);
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--light-font);
}

.navigation {
    background-color: var(--secondary-color);
    display: none;
    color: var(--dark-font);
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
    margin-bottom: 0;
}

.navigation ul li {
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: var(--dark-font);
    text-align: center;
    padding: 10px;
}

.navigation ul li:hover {
    background-color: var(--accent2-color);
}

.show a {
    display: block;
}

.current a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/*Main*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font: var(--header-font);
    text-align: center;
    margin: 10px;
}

h2 {
    font: var(--header-font);
    color: var(--primary-color);
    text-align: center;
}

section, aside {
    padding: 10px 10px 20px;
}

li {
    list-style-type: none;
}

/*index.html*/
.hero {
    width: 100%;;
    position: relative;
}

#hero {
    width: 100%;
}

.home-title {
    position: absolute;
    top: 1rem;
    left: 15%;
    right: 15%;
    width: 70%;
    padding: 10px;
    color: var(--light-font);
}

.cta {
    background-color: var(--primary-color);
    color: var(--light-font);
    border: 2px solid var(--accent1-color);
    border-radius: 5px;
    padding: 15px;
    position: absolute;
    bottom: 1rem;
    right: 4%;
    font-size: 20px;
    cursor: pointer;
}

.cta:hover{
    background-color: var(--accent2-color);
    color: var(--dark-font);
    border-color: var(--primary-color);
    box-shadow: 10px 10px 10px var(--primary-color);
    transition: all 0.3s ease;
}

.home-slogan {
    color: var(--light-font);
    font-size: 16px;
    position: absolute;
    bottom: 1rem;
    left: 4%;
    width: 48%;
    padding: 10px;
}

section ul li:before {
    content: "\2605   ";
    color: var(--primary-color);
}

/*Footer*/

footer {
    background-color: var(--primary-color);
    color: var(--light-font);
    text-align: center;
    justify-items: center;
    padding-top: 10px;
}

.bold {
    font-weight: bold;
}

.lila {
    color: var(--accent2-color);
}

.chamber-data {
    display: flex;
    text-align: center;
}

.socialmedia {
    gap: 20px;
    padding: 10px;
}

.dev-data {
    display: flex;
    text-align: center;
}