@media (min-width: 1200px){

    /*Header*/

    .web-title, h1 {
        font-size: 40px;
        padding: 5px;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
        padding: 20px;
    }

    .navigation ul li {
        padding: 10px;
    }


    /*Main*/

    main {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }

    h1 {
        grid-column: 1/3;
    }

    #left-grid, #right-grid, #center-grid {
    display: block;
    }

    #left-grid {
        grid-column: 1/2;
    }

    #left-grid p {
        height: 210px;
        padding: 0 10px;
    }

    #right-grid {
        grid-column: 2/3;
    }

    #center-grid {
        grid-column: 1/3;
    }

    .filter {
        width: 25%;
    }

    #options {
        width: 90%;
    }

    .course {
        width: 25%;
    }


}