@media (min-width: 600px){

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        width: 100%;
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        text-align: center;
    }
}