:root {
    --primary-color: #0F103B;
    --secondary-color: #FFE15C;
    --accent1-color: #121113;
    --accent2-color: #DCD7C8;
    --header-font: 400 30px "Fugaz One", sans-serif;
    --text-font: 400 20px "Arvo", serif;
    --light-font: #ffffff;
    --dark-font: #000000;
}

* {
    box-sizing: border-box;
    font: var(--text-font);
}

body {
    margin: 0;
    padding: 0;
}

/*Header*/

header {
    background-color: var(--primary-color);
    display: block;
}

.logo {
    width: 45px;
    height: auto;
}

#web-icon {
    position: absolute;
    top: 0.3rem;
    left: 1rem;
}

.web-title {
    font: var(--header-font);
    color: var(--light-font);
    display: flex;
    justify-content: center;
    padding: 10px;
}

.hamburger {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 35px;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
}

.hamburger::before {
    content: "\2630";
    color: var(--light-font);
}

.hamburger.show::before {
    content: "\00D7";
    color: var(--light-font);
}

.navigation {
    background-color: var(--secondary-color);
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    padding: 15px;
}

.navigation ul li {
    width: 100%;
}

.navigation a {
    text-decoration: none;
    color: var(--dark-font);
    text-align: center;
    padding: 10px;
}

.navigation ul li:hover {
    background-color: var(--accent2-color);
}

.show a {
    display: block;
}

.current a {
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

/*Main*/

section {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 100%;
}

h1 {
    font: var(--header-font);
    text-align: center;
}

h2 {
    font: var(--header-font);
    font-size: 25px;
    background-color: var(--accent1-color);
    color: var(--light-font);
    padding: 10px;
    width: 90%;
    text-align: center;
    margin: 0;
}

.container {
    background-color: var(--accent2-color);
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: justify;
}

.buttons {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#profile {
    height: 250px;
    width: auto;
    display: block;
}

.filter {
    background-color: var(--primary-color);
    color: var(--light-font);
    font-size: 30px;
    cursor: pointer;
    width: 100px;
}

.filter:hover {
    background-color: var(--accent1-color);
}

#options {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px 0;
    width: 90%;
}

.course {
    background-color: var(--accent2-color);
    width: 45%;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
}

.completed {
    background-color: var(--secondary-color);
}

.completed::before {
    content: "\2713  ";
}

#credits {
    display: flex;
    justify-items: center;
}

/*Footer*/

    /*Logos are on the header section*/

footer {
    background-color: var(--primary-color);
    color: var(--light-font);
    text-align: center;
}

.socialmedia {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}